[submodule "TerminalUI"]
	path = include/TerminalUI
	url = https://github.com/ShaunakPerni/TerminalUI
[submodule "VectorTables"]
	path = include/VectorTables
	url = https://github.com/ShaunakPerni/VectorTables
